/* Small devices */
@media screen and (max-width:576px) {
    .navs, .btn{
        display: none;
    }
    nav{
        justify-content: space-between;
        padding: 30px;
    }
    .hamburger{
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}




/* medium devices */

@media screen and (min-width:576px) and (max-width:992px) {
    
     .navs, .btn{
        display: none;
    }
    nav{
        justify-content: space-between;
        padding: 30px;
    }
    .hamburger{
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }

}